body {
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto; 
   font-family: "Segoe UI Light", Verdana, Helvetica, sans-serif;
   font-size: 10pt;
   }

objet {
color:rgb(0,128,255);
margin: 0px; 
padding: 0px;
font-size: 14pt;
}

techno {
color:rgb(255,50,50);
margin: 0px; 
padding: 0px;
font-size: 12pt;
}

auteur {
color:rgb(255,50,50);
margin: 0px; 
padding: 0px; 
}

th {
color:rgb(0,128,255);
font-size: 14pt;
}

/*
a.link      {color:green; background-color:transparent; text-decoration:none}
a.visited   {color:pink; background-color:transparent; text-decoration:none}
a.hover     {color:red; background-color:transparent; text-decoration:underline}
a.active    {color:yellow; background-color:transparent; text-decoration:underline}
*/

H1  { 
text-decoration: none;
color:rgb(255,50,50);
font-size: 18pt;
margin: 0px; 
padding: 0px; 
}

H2  { 
text-decoration: none;
color:rgb(0,128,255);
font-size: 14pt;
margin: 1px; 
padding: 1px; 
}
