H1  { 
text-decoration: none;
color:rgb(252,210,40);
font-family: Verdana, Helvetica, sans-serif;
font-size: 14pt;
margin: 0px; 
padding: 0px; 
}

H2  { 
text-decoration: none;
color:rgb(0,93,153);
font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
font-size: 12pt;
margin: 1px; 
padding: 1px; 
}
