H1  { 
text-decoration: none;
color:rgb(200,240,60);
font-family: "Segoe UI Light", Verdana, Helvetica, sans-serif;
font-size: 18pt;
margin: 0px; 
padding: 0px; 
}

H2  { 
text-decoration: none;
color:rgb(0,93,153);
font-family: "Segoe UI Light", Verdana, Helvetica, sans-serif;
font-size: 14pt;
margin: 1px; 
padding: 1px; 
}
